manifest {
  description = 'Swiss Army Knife (SAK) pipeline implemented with Nextflow' 
  nextflowVersion = '>= 21.04.0'
}

includeConfig 'config/general.config'

profiles {
    standard {
      process.executor = 'local'
      process.maxForks = 3
    }

    slurm {
    	includeConfig 'config/slurm.config'
    }

    azure {
      includeConfig 'config/azurebatch.config'
    }
}

