plugins {
    id 'nf-amazon'
}

aws {
	region = 'us-east-1'
	accessKey = 'xxx'
    secretKey = 'yyy'
    batch {
        // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    //NOTE: aws configure queue in aws ec2 website: https://antunderwood.gitlab.io/bioinformant-blog/posts/running_nextflow_on_aws_batch/
}