
process {
  executor = 'azurebatch'
}

docker {
	enabled = true
}

azure {
  storage {
    accountName = "xxx"
    accountKey = "yyy"
  }
  batch {
    location = 'eastus'
    accountName = 'xxxbatch'
    accountKey = 'zzz'
    autoPoolMode = false //default is true
    allowPoolCreation = true //Nextflow automatically creates a pool of computing nodes to execute the jobs
    deletePoolsOnCompletion = true //The pool is removed when the pipeline execution terminates
    pools {
        //config queue machine types
        auto { //auto pool configuration scope
            autoScale = true
            vmType = 'Standard_D4_v3'
            vmCount = 1
            maxVmCount = 10
            sku = "batch.node.ubuntu 20.04"
            offer = "ubuntu-server-container"
            publisher = "microsoft-azure-batch"
        }	
        d2v3 { 
            vmType = 'Standard_D2_v3'
            vmCount = 1
            sku = "batch.node.ubuntu 20.04"
            offer = "ubuntu-server-container"
            publisher = "microsoft-azure-batch"
        }	
        d4v3 { 
            vmType = 'Standard_D4_v3'
            vmCount = 1
            sku = "batch.node.ubuntu 20.04"
            offer = "ubuntu-server-container"
            publisher = "microsoft-azure-batch"
        }	
        d16v3 { 
            vmType = 'Standard_D16_v3'
            vmCount = 1
            sku = "batch.node.ubuntu 20.04"
            offer = "ubuntu-server-container"
            publisher = "microsoft-azure-batch"
        }
    }
  }
  registry {
      // Note: if use private registry
      server =  'xxx.azurecr.io' // e.g.: docker.io, quay.io, <ACCOUNT>.azurecr.io, etc.
      userName =  'xxx'
      password =  'vvv'
  }
}
