
process {
  executor = 'azurebatch'
}

docker {
	enabled = true
}

azure {
  storage {
    accountName = ""
    accountKey = ""
  }
  batch {
    location = 'eastus'
    accountName = ''
    accountKey = ''
    allowPoolCreation = true //Nextflow automatically creates a pool of computing nodes to execute the jobs
    deletePoolsOnCompletion = true //The pool is removed when the pipeline execution terminates
    deleteJobsOnCompletion = true //The job is removed when the pipeline execution terminates
    pools {
        micro { //auto pool configuration scope
            autoScale = true
            vmType = 'Standard_D2_v3'
            vmCount = 1
            maxVmCount = 10
        }	
        small { 
            autoScale = true
            vmType = 'Standard_D4_v3'
            vmCount = 1
            maxVmCount = 10
        }	
        large { 
            autoScale = true
            vmType = 'Standard_D16_v3'
            vmCount = 1
            maxVmCount = 10
        }	
    }
  }
}
