params {

   outputDir = './results'
}

docker {
    enabled = true
}

process {

	publishDir = [
    	[path: params.outputDir, mode: 'copy', overwrite: 'true']
  	]

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 100

}

timeline {
	enabled = true
	file = params.outputDir + '/timeline.html'
}

report {
	enabled = true
	file = params.outputDir + '/report.html'
}

